In [1]:
import pandas as pd
df = pd.read_excel('file:///C:/Users/HP/AppData/Roaming/Microsoft/Windows/Network%20Shortcuts/life%20expectancy.xlsx')

In [2]:
df.head()

,Country,Year,Status,Life expectancy (men),Life expectancy(women),Adult Mortality (men),Adult Mortality (women),Infant deaths,Alcohol,Percentage expenditure,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,70,66,67,65,62,0.01,71.279624,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59,67,73,85,64,0.01,73.523582,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,79,51,87,67,66,0.01,73.219243,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,65,81,63,91,69,0.01,78.184215,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,76,75,57,72,71,0.01,7.097109,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5

In [40]:
filtered_dataset1 = df[(df['Year'] == 2010) | (df['Year'] == 2000)]

In [42]:
filtered_dataset1.head()

,Country,Year,Status,Life expectancy (men),Life expectancy(women),Adult Mortality (men),Adult Mortality (women),Infant deaths,Alcohol,Percentage expenditure,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
5,Afghanistan,2010,Developing,51,77,71,57,74,0.01,79.679367,...,66.0,9.20,66.0,0.1,553.328940,2883167.0,18.4,18.4,0.448,9.2
15,Afghanistan,2000,Developing,56,79,99,54,88,0.01,10.424960,...,24.0,8.20,24.0,0.1,114.560000,293756.0,2.3,2.5,0.338,5.5
21,Albania,2010,Developing,54,61,92,64,1,5.28,41.822757,...,99.0,5.34,99.0,0.1,494.358832,291321.0,1.4,1.5,0.725,12.5
31,Albania,2000,Developing,58,79,97,61,1,3.66,91.711541,...,97.0,6.26,97.0,0.1,1175.788981,38927.0,2.1,2.2,0.656,10.7
37,Algeria,2010,Developing,69,57,93,76,21,0.45,430.717586,...,95.0,5.12,95.0,0.1,4463.394675,36117637.0,5.9,5.8,0.714,13.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
768,Djibouti,2000,Developing,57,67,78,81,2,1.34,91.950759,...,46.0,5.75,46.0,4.1,768.176767,717584.0,6.4,6.1,0.361,2.9
775,Dominican Republic,2010,Developing,66,82,62,52,6,6.02,664.558524,...,85.0,4.60,88.0,0.9,5451.669600,9897985.0,3.3,3.3,0.697,12.9
785,Dominican Republic,2000,Developing,76,64,60,100,7,6.58,44.792478,...,71.0,5.90,78.0,2.5,282.424200,8562622.0,3.8,3.7,0.651,12.2
791,Ecuador,2010,Developing,51,65,97,97,7,3.95,367.928565,...,88.0,5.90,91.0,0.1,4657.323610,1493469.0,1.3,1.2,0.703,13.1
801,Ecuador,2000,Developing,53,81,80,54,9,3.99,84.175270,...,83.0,3.38,87.0,0.3,1451.297760,12628596.0,1.6,1.5,0.668,12.4

In [43]:
filtered_dataset1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 366 entries, 5 to 2937
Data columns (total 25 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Country                          366 non-null    object
 1   Year                             366 non-null    int64
 2   Status                           366 non-null    object
 3   Life expectancy (men)            366 non-null    int64
 4   Life expectancy(women)           366 non-null    int64
 5   Adult Mortality (men)            366 non-null    int64
 6   Adult Mortality (women)          366 non-null    int64
 7   Infant deaths                    366 non-null    int64
 8   Alcohol                          364 non-null    float64
 9   Percentage expenditure           366 non-null    float64
 10  Hepatitis B(men)                 366 non-null    int64
 11  Hepatitis B(women)               366 non-null    int64
 12  Measles                          366 non-null    int64
 13  BMI                              362 non-null    float64
 14  Under-five deaths                366 non-null    int64
 15  Polio                            362 non-null    float64
 16  Total expenditure                359 non-null    float64
 17  Diphtheria                       362 non-null    float64
 18  HIV/AIDS                         366 non-null    float64
 19  GDP                              310 non-null    float64
 20  Population                       286 non-null    float64
 21  thinness  1-19 years             362 non-null    float64
 22  thinness 5-9 years               362 non-null    float64
 23  Income composition of resources  346 non-null    float64
 24  Schooling                        346 non-null    float64
dtypes: float64(13), int64(10), object(2)
memory usage: 74.3+ KB

In [44]:
filtered_dataset1.describe()

,Year,Life expectancy (men),Life expectancy(women),Adult Mortality (men),Adult Mortality (women),Infant deaths,Alcohol,Percentage expenditure,Hepatitis B(men),Hepatitis B(women),...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
count,366.000000,366.000000,366.000000,366.000000,366.000000,366.000000,364.000000,366.000000,366.000000,366.000000,...,362.000000,359.000000,362.000000,366.000000,310.000000,2.860000e+02,362.000000,362.000000,346.000000,346.000000
mean,2005.000000,67.844262,67.576503,73.964481,74.103825,32.734973,4.757170,621.036084,46.456284,46.609290,...,80.104972,5.869136,78.209945,1.901913,6095.391773,1.062688e+07,4.903315,4.942265,0.583705,11.479769
std,5.006845,10.962217,10.158384,14.506733,14.462238,128.574857,3.920561,1596.259070,16.813954,16.766987,...,25.462373,2.464083,27.635741,5.393159,11890.996171,3.054915e+07,4.478529,4.648159,0.250334,3.730322
min,2000.000000,50.000000,50.000000,50.000000,50.000000,0.000000,0.010000,0.000000,18.000000,18.000000,...,3.000000,0.920000,3.000000,0.100000,3.685949,1.230000e+02,0.100000,0.100000,0.000000,0.000000
25%,2000.000000,58.000000,59.000000,62.000000,62.000000,0.000000,1.317500,11.262425,31.000000,31.250000,...,74.000000,4.200000,74.000000,0.100000,453.690232,1.628990e+05,1.600000,1.600000,0.449500,9.600000
50%,2005.000000,68.000000,67.000000,74.500000,73.500000,3.000000,3.915000,64.321702,46.000000,47.000000,...,92.000000,5.610000,91.000000,0.100000,1361.312486,1.206126e+06,3.300000,3.300000,0.650500,12.000000
75%,2010.000000,78.000000,75.750000,86.000000,86.000000,23.000000,7.810000,375.077791,61.000000,62.000000,...,97.000000,7.390000,97.000000,0.900000,4648.859487,5.726847e+06,7.275000,7.200000,0.764000,13.900000
max,2010.000000,85.000000,85.000000,100.000000,100.000000,1800.000000,14.970000,15268.064450,75.000000,75.000000,...,99.000000,17.200000,99.000000,46.400000,87646.753460,2.425241e+08,27.700000,28.600000,0.936000,20.400000

In [45]:
df1 = filtered_dataset1